
.hide {
    visibility: none;
}

.upload {
    position: relative;
    border-radius: 1em;
    width: 100%;
    background-color: #333;
    margin-bottom: 1em;
}

.upload:hover {
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}

.upload span {
    display: block;
    margin: 0 auto;
    
    font-size: 4em;
    color: white;
    text-align: center;
}

div.download {
    font-size: 3em;
}
