
{% extends "bootstrap/base.html" %}
{% block title %} Matadata {% endblock %}

{% block head %}
{{ super () }}
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="author" content="">
{% endblock %}

{% block content %}
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Matadata</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p> Metadata is a light tool that wipes off the metadata of your files. Supported files so far: PDF </p>
            </div>
            <div class="col-lg-4">
                <p> We don't store anything about you, neither your files nor your metadata.</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="https://github.com/Margaruga/NQysit_Metadata" class="btn btn-lg btn-outline" target="_blank">
                    <i class="fa fa-download"></i> GitHub
                </a>
            </div>
        </div>
    </div>
</section>

<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <form enctype="multipart/form-data" action="upload" method="post">
                    <div class="form-group">
                        <input name="file" id="file-1a" type="file" multiple=true class="file hide" data-preview-file-type="any" data-overwrite-initial="false">
                    </div>
                    <div class="upload btn btn-danger">
                        <span> Click here to clean your file! </span>
                    </div>
                    {% if ready %}
                    <div class="download">
                        <span class="glyphicon glyphicon-file"></span>
                        <a class="download" href="./your_pdf_is_ready"> Your file is ready </a>
                    </div>
                    {% endif %}
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-danger" role="alert">{{ message }}</div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </form>
            </div>
        </div>
    </div>
</section>

<footer class="text-center">
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <a href="#" target="_blank"> Python </a> -
                    <a href="#" target="_blank"> Flask </a> -
                    <a href="#" target="_blank"> NQysit Software </a>
                    <br> Copyright &copy; Matadata 2014
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="scroll-top page-scroll visible-xs visble-sm">
    <a class="btn btn-primary" href="#about">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
    <script type="text/javascript" src="{{url_for('.static', filename='js/clientlogic.js')}}"></script>
{% endblock %}

{% block styles %}
{{ super() }}
    <link rel="stylesheet" href="{{url_for('.static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('.static', filename='css/freelancer.css')}}">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
{% endblock %}
